%br/
%h1.alt= @page.title
%hr/
.span-5.colborder
  %h3 Page Url
.span-18.last
  = link_to @page.url, @page.url
%hr/
.span-5.colborder
  %h3 Tags
.span-18.last
  = @page.tags
%hr/
.span-5.colborder
  %h3 Content
.span-18.last
  = @page.content
%hr/
.span-5.colborder
  %h3 Content Type
.span-18.last
  = @page.content_type
%hr/
.span-5.colborder
  %h3 Published
.span-18.last
  = @page.published
%hr/
= link_to "Publish Page!", publish_path(@page), :class => "button positive" unless @page.published
= link_to "Edit Page!", edit_page_path(@page), :class => "button positive"
= link_to "<< Go Back", pages_path, :class => "button positive"
